.hero {
    background-image: url("../media/images/hero/hero_banner.jpg");
    background-size: cover;
    background-position: center;

    height: 30vh;
    width: 100%;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.hero__title {
    font-family: Tektur;
    font-weight: 500;
    font-size: 2rem;
    text-transform: capitalize;
}

.gradient-text {
    background: linear-gradient(-135deg, #001AFF 0%, #0545A6 37%, #061386 50%, #656A97 62%, #0A1049 75%, #0D0D0D 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-wrapper-inside {
    display: none;
}

.hero__card-inside {
    display: none;
}

.hero-wrapper-outside {
    background-color: #0c0e14;
    
    width: 100%;

    padding: var(--section-padding);
    padding-bottom: calc(var(--section-padding)*.3);

    display: grid;
    grid-auto-rows: 1fr;
    gap: var(--section-gap);
}

.hero__card-outside {
    background-color: #eaecff;
    width: 100%;

    display: flex;
    flex-flow: column;
}

.hero__card-outside__img {
    height: 10rem;
    width: 100%;
    background-color: aqua;
}

.hero__card-outside__text {
    padding: var(--inner-padding);

    height: 100%;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--inner-gap);
}

.hero__card-outside__text__span {
    font-size: calc(var(--p-font-size)*.7);
    text-align: justify;
    hyphens: auto;
}

.hero__card-outside__text__link {
    background-color: #0A1049;
    color: #fff;

    text-decoration: none;

    display: inline-block;

    width: 100%;

    padding: 1rem;

    font-size: calc(var(--p-font-size)*.7);
    text-align: center;
}


@media screen
and (min-width: 300px) {

    .hero__title {
        font-size: calc(2.8rem + 1vw);
    }

    .hero__card-outside__img {
        height: 15rem;
    }

}



@media screen
and (min-width: 400px) {
    
    .hero__title {
        font-size: calc(3rem + 2vw);
    }

    .hero__card-outside__img {
        height: 20rem;
    }

}



@media screen
and (min-width: 600px) {
    
    .hero {
        height: 60vh;
    }

    .hero__title {
        font-size: calc(5rem + 2vw);
    }

}



@media screen
and (min-width: 650px) {

    .hero__card-outside {
        flex-flow: row;
    }

    .hero__card-outside__img {
        height: 100%;
        width: 40%;
    }

    .hero__card-outside__text {
        width: 60%;
    }

}



@media screen
and (min-width: 900px) {

    .hero {
        height: 100vh;

        justify-content: end;
    }
    
    .hero__title {
        font-size: 8rem;
    }

    .hero-wrapper-outside {
        display: none;
    }

    .hero-wrapper-inside {
        display: flex;
        justify-content: space-evenly;

        width: 100%;

        margin-bottom: 10rem;
    }

    .hero__card-inside {
        background-color: #fafbff;
        
        height: 100%;
        width: 35rem;
        display: flex;
        flex-flow: column;
    }

    .hero__card-inside__img {
        background-color: aqua;
        height: 20rem;
        width: 100%;
    }

    .hero__card-inside__text {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        gap: var(--inner-gap);

        height: 100%;

        padding: 2rem;
    }

    .hero__card-inside__text__span {
        font-size: 1.6rem;

        text-align: justify;
        hyphens: auto;
    }

    .hero__card-inside__text__link {
        background-color: #0A1049;
        color: #fff;

        text-decoration: none;
        font-size: 1.8rem;
        text-align: center;

        padding: 1rem;
    }
}



@media screen
and (min-width: 1200px) {
    
    .hero {
        height: 100vh;
    }

    .hero__title {
        font-size: 8rem;
    }

}



@media screen
and (min-width: 1500px) {
    
    .hero__title {
        font-size: 9rem;
    }

    .hero__card-inside__text__span {
        font-size: 1.8rem;
    }

}



@media screen
and (min-width: 1800px) {

    .hero__title {
        font-size: 12rem;
    }

}