.hero {
    background-image: url("../media/images/hero/hero_banner.jpg");
    background-size: cover;
    background-position: center;

    height: 30vh;
    width: 100%;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.hero__title {
    font-family: Tektur;
    font-weight: 500;
    font-size: 2rem;
    text-transform: capitalize;
}

.gradient-text {
    background: linear-gradient(-135deg, #001AFF 0%, #0545A6 37%, #061386 50%, #656A97 62%, #0A1049 75%, #0D0D0D 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 15rem;

    height: 20rem;
    width: 100%;
}

.hero__card {
    height: 40rem;
    width: 30rem;
    background-color: greenyellow;
}



@media screen
and (min-width: 300px) {

    .hero__title {
        font-size: calc(2.8rem + 1vw);
    }

}



@media screen
and (min-width: 400px) {
    
    .hero__title {
        font-size: calc(3rem + 2vw);
    }

}



@media screen
and (min-width: 600px) {
    
    .hero {
        height: 60vh;
    }

    .hero__title {
        font-size: calc(5rem + 2vw);
    }

}



@media screen
and (min-width: 900px) {

    .hero {
        height: 100vh;
    }
    
    .hero__title {
        font-size: 8rem;
    }

}



@media screen
and (min-width: 1200px) {
    
    .hero {
        height: 100vh;
    }

    .hero__title {
        font-size: 8rem;
    }

}



@media screen
and (min-width: 1500px) {
    
    .hero__title {
        font-size: 9rem;
    }

}



@media screen
and (min-width: 1800px) {

    .hero__title {
        font-size: 12rem;
    }

}